#btn{
    padding: 10px;
    font-family: arial;
    font-size: 20px;
    margin-left: 40vw;
    display: none;
  } 
  #imgdiv{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  img{
    height: 350px;
    width: 400px;
  }